body {
 background-image: url("../img/PolarExpress_ROW8841602730_1920x1200.jpg");
}
h1 {color:burlywood}
h2 {margin-left: 70%}
p {color: #b3d4fc;
text-indent: 20px;
  font-size: medium;
  line-height: normal;
}
a{
  color: #b6d6f6;
}
img {
  positon:absolute;
  left:0%;
  margin-left: 10px;
}
h1 {
  text-align: center;
}
span{
  color: red;
}
code{
  font-family: "JetBrains Mono Medium";
  color: darkcyan;
}
blockquote{
  font-family: 楷体;
  color: #888888;
  text-indent: 20px;
  font-size: medium;
  line-height: normal;
}
button{
  border-radius: 20px;
}
.important {
  font-weight: bolder;
}
.ital {
  font-style: italic;
}
